# dependencies
/node_modules
/.pnp
.pnp.js

# testing & logs
/coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next.js build output
/.next/
/out/

# local environment variables & secrets
.env.local
.env*.local
.env

# scratch scripts & IDE
.turbo
.idea
.vscode
scratch/
